## Springboard Capstone 03 - Food Allergens

### 02 Renaming and copying images

# Table of Contents<a id='Table_of_Contents'></a>
* [1.0 Loading and checking labels data](#1.0_load_check)
  * [1.1 Import statements](#1.1_import_statements)
  * [1.12 Get names of foods from the csv file and remove spaces](#1.2_get_names)
  * [1.3 Check that the list of foods is the same as the folder names](#1.3_check)
* [2.0 Add lines to the labels for each image and copy and rename images](#2.0_add_copy_rename)

###  1.0 Loading and checking label data<a id='1.0_load_check'></a>

1.1 Import Statements<a id='1.1_import_statements'></a>

In [1]:
#Rename images and move
import os
import math
import pandas as pd
import numpy as np
import shutil

1.12 Get names of foods from the csv file and remove spaces<a id='1.2_get_names'></a>

In [10]:
#Import csv with just the food names
directory = "data/FoodsCleanReduced.csv"

#create a df of the original csv file
df = pd.read_csv(directory, index_col=[0])
df.head()

#transfor list of food names with spaces to one without
foodsp = df.index.to_list()
foodsp = [x for x in foodsp if not (isinstance(x, float) and math.isnan(x))]
foodnosp = [x.replace(" ", "_") for x in foodsp]

#add a column to hold the image file name
df['id'] = " "
df.head()

,labels,milk,eggs,fish,shellfish,tree nuts,peanuts,wheat,soybeans,sesame,id
adobo,"wheat, soybeans",0,0,0,0,0,0,1,1,0,
afang soup,"fish, shellfish",0,0,1,1,0,0,0,0,0,
aloo gobi,none,0,0,0,0,0,0,0,0,0,
amok trei,"fish, shellfish",0,0,1,1,0,0,0,0,0,
apple pie,"milk, wheat",1,0,0,0,0,0,1,0,0,

In [11]:
# Check that labels are correct
x = df.loc['afang soup', 'tree nuts'] == 1
x

np.False_

1.3 Check that the list of foods is the same as the folder names<a id='1.3_check'></a>

In [12]:
#Check that foodsp == the naems of the folders
#Get all folders in googleimages
base_dir = "googleimages"
folder_list = os.listdir(base_dir)
#print(folder_list[1:])

for i in range(len(foodsp)):
    bool = foodsp[i] == folder_list[i+1]
    if bool == False:
        print(f'Food {foodsp[i]} matches {folder_list[i+1]} {bool}')
#print(same)

### 2.0 Add lines to the labels for each image and copy and rename images<a id='2.0_add_copy_rename'></a>

In [13]:
df.head()

,labels,milk,eggs,fish,shellfish,tree nuts,peanuts,wheat,soybeans,sesame,id
adobo,"wheat, soybeans",0,0,0,0,0,0,1,1,0,
afang soup,"fish, shellfish",0,0,1,1,0,0,0,0,0,
aloo gobi,none,0,0,0,0,0,0,0,0,0,
amok trei,"fish, shellfish",0,0,1,1,0,0,0,0,0,
apple pie,"milk, wheat",1,0,0,0,0,0,1,0,0,

In [14]:
#Copy lines of labels for each of the images of that food
#Copy images to a single directory and rename files sequentially

new_df = df.copy()

#Get all folders in googleimages
base_dir = "googleimages"
#base_dir = "test"
folder_list = os.listdir(base_dir)

dest_dir = "data/allergens"

n = 1
dict = {}

#for each folder, get files inside as a list
for i in range(1, len(folder_list)):
    #get list of all the files in that folder
    cur_folder = base_dir + "/" + folder_list[i]
    file_list = os.listdir(cur_folder)
    
    start_n = str(n).zfill(5)
    
    #store row to copy
    copy_row = new_df.loc[folder_list[i]].copy()
    
    for j in range(len(file_list)):
        #for each image, copy it to "data/allergens" and rename it sequentially
        file = cur_folder + "/" + file_list[j]
        dest_file = dest_dir + "/" + str(n).zfill(5) + ".jpg"
        shutil.copy(file, dest_file)
        
        #propagate rows in df
        #add a line to the dataframe corresponding to that food
        if j==0:
            #if it's the first one, add the image number to the id column, and store the info from the index to the end of the non-'id' columns
            new_df.loc[folder_list[i], 'id'] = str(n).zfill(5) + '.jpg'

        else:
            #update id value
            copy_row['id'] = str(n).zfill(5) + '.jpg'
            df_row = pd.DataFrame(copy_row)

            #add to df
            #print(new_df.head())
            new_df = pd.concat([new_df, df_row.T], axis=0) # Appending new rows using concat()

        n = n+1
     

    end_n = str(n-1).zfill(5)
          
    #update dictionary with the name of the food and the numeric start and end values for the images. 
    dict[folder_list[i]] = (start_n, end_n)

#sort values by index
new_df.sort_index(inplace=True)

print(dict)
print(new_df)

{'adobo': ('00001', '00118'), 'afang soup': ('00119', '00134'), 'aloo gobi': ('00135', '00248'), 'amok trei': ('00249', '00356'), 'apple pie': ('00357', '00476'), 'baba ganoush': ('00477', '00578'), 'bagel and cream cheese': ('00579', '00636'), 'bagel and cream cheese lox': ('00637', '00654'), 'bagel and cream cheese lox sesame': ('00655', '00665'), 'bagel and cream cheese sesame': ('00666', '00687'), 'baklava': ('00688', '00804'), 'banh mi': ('00805', '00912'), 'bao buns': ('00913', '01015'), 'beef rendang': ('01016', '01029'), 'bigos stew': ('01030', '01139'), 'blini': ('01140', '01217'), 'bobotie': ('01218', '01331'), 'borscht': ('01332', '01433'), 'bouillabaisse': ('01434', '01553'), 'brigadeiro': ('01554', '01663'), 'brownies with nuts': ('01664', '01780'), 'burrito': ('01781', '01894'), 'cake': ('01895', '02008'), 'cassoulet': ('02009', '02124'), 'ceviche': ('02125', '02226'), 'channa masala': ('02227', '02357'), 'char siu': ('02358', '02476'), 'chicken satay': ('02477', '02578'), 'chocolate chip cookies': ('02579', '02672'), 'clam chowder': ('02673', '02786'), 'cochinita pibil': ('02787', '02899'), 'creme brulee': ('02900', '02994'), 'egusi soup': ('02995', '03107'), 'enchiladas': ('03108', '03222'), 'falafel': ('03223', '03335'), 'farofa': ('03336', '03431'), 'fattoush': ('03432', '03543'), 'feijoada': ('03544', '03658'), 'fettuccine with pesto': ('03659', '03769'), 'fettuccine with pesto shrimp': ('03770', '03779'), 'fish and chips': ('03780', '03893'), 'florentine cookies': ('03894', '03995'), 'fried rice': ('03996', '04076'), 'fried rice shrimp': ('04077', '04096'), 'fufu': ('04097', '04201'), 'gnocchi': ('04202', '04296'), 'goulash': ('04297', '04397'), 'granola': ('04398', '04512'), 'green beans almondine': ('04513', '04622'), 'guacamole': ('04623', '04735'), 'hamburger': ('04736', '04838'), 'hummus': ('04839', '04952'), 'jianbing': ('04953', '05066'), 'jollof rice': ('05067', '05190'), 'laksa': ('05191', '05303'), 'mapo tofu': ('05304', '05419'), 'mexican mole': ('05420', '05535'), 'minestrone': ('05536', '05655'), 'miso soup': ('05656', '05781'), 'moon cake': ('05782', '05873'), 'moqueca': ('05874', '05989'), 'moroccan couscous': ('05990', '06091'), 'moule frites': ('06092', '06193'), 'okonomiyaki': ('06194', '06307'), 'onigiri': ('06308', '06422'), 'pad thai': ('06423', '06536'), 'palak paneer': ('06537', '06650'), 'peanut brittle': ('06651', '06759'), 'peanut butter and jelly sandwich': ('06760', '06855'), 'peanut butter cookies': ('06856', '06959'), 'peanut butter cups': ('06960', '07045'), 'peanut butter pie': ('07046', '07160'), 'peanut stew': ('07161', '07281'), 'pecan pie': ('07282', '07399'), 'peking duck': ('07400', '07529'), 'peri peri chicken': ('07530', '07648'), 'pho': ('07649', '07762'), 'plain brownies': ('07763', '07874'), 'quiche lorraine': ('07875', '07995'), 'ramen': ('07996', '08109'), 'ratatouille': ('08110', '08226'), 'salade nicoise': ('08227', '08342'), 'samosa': ('08343', '08527'), 'sesame noodles': ('08528', '08641'), 'sesame seed cookies': ('08642', '08755'), 'shakshouka': ('08756', '08869'), 'shrimp tempura': ('08870', '08971'), 'steak frites': ('08972', '09086'), 'stuffed cabbage': ('09087', '09202'), 'sushi': ('09203', '09317'), 'tacos': ('09318', '09431'), 'tajine': ('09432', '09545'), 'takoyaki': ('09546', '09659'), 'tamales': ('09660', '09760'), 'tandoori chicken': ('09761', '09880'), 'tiramisu': ('09881', '09983'), 'tom yum': ('09984', '10084'), 'tonkastu': ('10085', '10183'), 'tuna fish salad': ('10184', '10285'), 'vatapa': ('10286', '10382'), 'xiaolongbao': ('10383', '10484')}
                      labels milk eggs fish shellfish tree nuts peanuts wheat  \
adobo        wheat, soybeans    0    0    0         0         0       0     1
adobo        wheat, soybeans    0    0    0         0         0       0     1
adobo        wheat, soybeans    0    0    0         0         0       0     1
adobo        wheat, soybeans    0    0    0         0         0       0     1
adobo        wheat, soybeans    0    0    0         0         0       0     1
...                      ...  ...  ...  ...       ...       ...     ...   ...
xiaolongbao  wheat, soybeans    0    0    0         0         0       0     1
xiaolongbao  wheat, soybeans    0    0    0         0         0       0     1
xiaolongbao  wheat, soybeans    0    0    0         0         0       0     1
xiaolongbao  wheat, soybeans    0    0    0         0         0       0     1
xiaolongbao  wheat, soybeans    0    0    0         0         0       0     1

            soybeans sesame         id
adobo              1      0  00001.jpg
adobo              1      0  00041.jpg
adobo              1      0  00042.jpg
adobo              1      0  00043.jpg
adobo              1      0  00044.jpg
...              ...    ...        ...
xiaolongbao        1      0  10411.jpg
xiaolongbao        1      0  10409.jpg
xiaolongbao        1      0  10408.jpg
xiaolongbao        1      0  10419.jpg
xiaolongbao        1      0  10484.jpg

[10484 rows x 11 columns]

In [15]:
df_dict = pd.DataFrame.from_dict(dict)
df_dict

,adobo,afang soup,aloo gobi,amok trei,apple pie,baba ganoush,bagel and cream cheese,bagel and cream cheese lox,bagel and cream cheese lox sesame,bagel and cream cheese sesame,...,tajine,takoyaki,tamales,tandoori chicken,tiramisu,tom yum,tonkastu,tuna fish salad,vatapa,xiaolongbao
0,00001,00119,00135,00249,00357,00477,00579,00637,00655,00666,...,09432,09546,09660,09761,09881,09984,10085,10184,10286,10383
1,00118,00134,00248,00356,00476,00578,00636,00654,00665,00687,...,09545,09659,09760,09880,09983,10084,10183,10285,10382,10484

2.1 Write out files

In [16]:
#Write out the new_df to csv
new_df.to_csv('data/foodallergenlabels.csv')
df_dict.to_csv('data/startendimageids.csv')